<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIGAS - i2i</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- Header -->
    <header>
        <h1>TIGAS</h1>
    </header>
    <!-- Header ends -->

    <!-- Sidebar -->
    <aside></aside>
    <!-- Sidebar ends -->

    <!-- Main -->
    <div class="main">
        <div class="wrapper">
            <div class="app">
                <div class="result">
                    <img id="i2i-image" src="/assets/default.jpeg" alt="result image">
                    
                    <!-- image upload -->
                    <input type="file" id="i2i-user-image" name="filename">
                </div>
                <div class="form">
                    <!-- text input with multiple lines -->
                    <textarea class="form-control" id="i2i-target-text" rows="2"></textarea>
                    <!-- <input id="i2i-target-text" type="text"> -->
                    <button id="i2i-ok">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main ends -->

    <!-- Footer -->
    <footer></footer>
    <!-- Footer ends -->
</body>

</html>