<!DOCTYPE html>
<html>
<head>
    <title>TIGAS</title>

    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <!-- Header -->
    <header>
        <h1>TIGAS</h1>
    </header>
    <!-- Header ends -->

    <!-- Sidebar -->
    <aside></aside>
    <!-- Sidebar ends -->

    <!-- Main -->
    <div class="main">
        <div class="wrapper">
            <div class="app">
                <div class="result">
                    <img id="tti-image" src="/assets/default.jpeg" alt="result image">
                </div>
                <div class="form">
                    <input id="tti-target-text" type="text">
                    <button id="tti-ok">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main ends -->

    <!-- Footer -->
    <footer></footer>
    <!-- Footer ends -->

    <!-- Scripts -->
    <script src="/dist/index_bundle.js"></script>
</body>

</html>